* {
    box-sizing: border-box;
    margin: 0;
    border: none !important;
}

body {
    background-color: #cccccc;
    color: white;
}

#flex-container {
    display: flex;
    border: 3px solid aqua;
}

#side {
    border: 2px solid red;
    margin-top: 10px;
    min-width: 250px;
    max-width: 250px;
}

#intro {
    color: whitesmoke;
    background-color: cadetblue;
    box-shadow: 1px 1px 10px gray;
    padding: 20px;
    border-radius: 20px;
    height: min-content;
    margin-left: 5px;
}

#intro > p {
    font-size: 1.2rem;
    font-weight: 100;
}

#intro > #welcome{
    font-size: 1.3rem;
    font-weight: bold;    
}

form {
    margin: 25px 0 0 5px;
    border: 2px solid blueviolet;
}

.formSection {
    border: 2px solid coral;
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.formSection > label {
    background-color: cadetblue;
    border-radius: 3px 3px 0 0;
    padding: 3px 0 0 3px;
}

.formSection > input{
    height: 25px;
    border-radius: 0 0 3px 3px ;
}

.formButton {
    display: flex;
    flex-direction: column;
}

.formButton > button {
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    box-shadow: 1px 1px 10px rgb(155, 215, 215);
}

button:active {
    background-color: rgb(175, 215, 215);
}

main {
    border: 2px solid yellow;
    gap: 35px;
    margin: 10px 0 0 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    color: rgb(45, 35, 35);
    background-color: rgb(195, 215, 215);
    box-shadow: 1px 1px 10px gray;
    border-radius: 20px;
    width: 230px;
    height: 230px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.card > p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.remove-container {
    border: 1px solid sienna;
    width: 100%;
}

.remove-container > div {
    float: right;
    border: 1px solid gold;
    /* color: rgb(45, 35, 35);
    background-color: rgb(195, 215, 215);
    border: none;
    cursor: pointer; */
}

.card-inner-container {
    border: 1px solid pink;
    width: 100%;
}

.name-container {
    border: 1px solid lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.bookName{
    font-size: 1.5em;
}

.info-container {
    border: 1px solid lightgreen;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

/* .info-left {
    border: 1px solid cornflowerblue;
}

.info-right {
    margin-left: 5px;
    border: 1px solid blue;
    width: 100%;
} */

.author-container {
    border: 1px solid hotpink;
    display: flex;
    flex-direction: row;
}

.author-container > div:first-child,
.pages-container > div:first-child,
.read-container > div:first-child
{
    margin-right: 5px;
    border: 1px solid firebrick;
    width: 55px;
}

.pages-container {
    display: flex;
    flex-direction: row;
    border: 1px solid firebrick;
}

.read-container {
    border: 1px solid darkgreen;
    display: flex;
    flex-direction: row;
}

.switch-container {
    border: 1px solid darkorange;
    height: 100%;
    width: 100%;
}
